*{
  box-sizing: border-box;
}


.UnderHero{
  min-height:20vh ;
  flex-wrap:nowrap;
  align-items: center;
  text-align: left;
  background-color: rgb(15, 4, 26);
  color:white;
  padding: 3rem;
}

ul li{
  list-style:none; font-size:12px;
  margin:0;
}
h2{
position:absolute;
left:3rem;
}
.Hero{
  width:100%;
  height: 35rem;
  background-position: 0px -5rem; 
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("https://a-static.besthdwallpaper.com/rick-y-morty-rompiendo-mal-papel-pintado-2560x1600-55019_7.jpg");
}
.coverHero{
  text-align: center;
  width:100%;
  height: 35rem;
  display:flex;
  position:absolute;
  align-items: center;
  text-align: center;
 
  background-color: rgba(0,0,0,0.5);
}
.SearchBox{
  position:relative;
  margin:auto;
}

.Content {
  width:100%;
  background-color:rgb(241, 162, 13);
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  }


.Card{
  background-color: rgb(239, 243, 242);
  min-height: 10rem;
  padding: 2rem;
  margin:1rem;
  border-radius: 15px;
}
.Card img{
  margin:1rem;
  position:relative;
  right:3rem;
}

